<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tralay</title>
    <meta name="description" content="We are witnessing the transportation business of Pakistan getting into a digital era and we are not over it already"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/cs-select.css" />
    <link rel="stylesheet" type="text/css" href="css/cs-skin-elastic.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700" rel="stylesheet">
</head>

<body class="bg-faded">
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1> Tralay — Straight outta Sakardu, right through Gawadar </h1>
                <p class="hidden-md-down"> We are witnessing the transportation business of Pakistan getting into a digital era and we are not over
                    it already </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-auto bgColor">
                    <select class="cs-select cs-skin-elastic">
                        <option value="" disabled selected>&nbsp; - &nbsp; &nbsp; Pickup Location</option>
                        <option value="france" data-class="flag-france">Abbotbad</option>
                        <option value="france" data-class="flag-france">Bahawalpur</option>
                        <option value="france" data-class="flag-france">Chakwal</option>
                        <option value="brazil" data-class="flag-brazil">Dera Ghazi Khan</option>
                        <option value="brazil" data-class="flag-brazil">Dera Ismail Khan</option>
                        <option value="argentina" data-class="flag-argentina">Islamabad</option>
                        <option value="argentina" data-class="flag-argentina">Jamshoro</option>
                        <option value="argentina" data-class="flag-argentina">Karachi</option>
                        <option value="south-africa" data-class="flag-safrica">Lahore</option>
                        <option value="south-africa" data-class="flag-safrica">Multan</option>
                        <option value="south-africa" data-class="flag-safrica">Peshawar</option>
                        <option value="south-africa" data-class="flag-safrica">Quetta</option>
                        <option value="south-africa" data-class="flag-safrica">Rawalpindi</option>
                    </select>
                </div>
                <div class="col-12 col-md-auto bgColor">
                    <select class="cs-select cs-skin-elastic" size="5">
                        <option value="" disabled selected>&nbsp; - &nbsp; &nbsp; Destination Point</option>
                        <option value="france" data-class="flag-france">Abbotbad</option>
                        <option value="france" data-class="flag-france">Bahawalpur</option>
                        <option value="france" data-class="flag-france">Chakwal</option>
                        <option value="brazil" data-class="flag-brazil">Dera Ghazi Khan</option>
                        <option value="brazil" data-class="flag-brazil">Dera Ismail Khan</option>
                        <option value="argentina" data-class="flag-argentina">Islamabad</option>
                        <option value="argentina" data-class="flag-argentina">Jamshoro</option>
                        <option value="argentina" data-class="flag-argentina">Karachi</option>
                        <option value="south-africa" data-class="flag-safrica">Lahore</option>
                        <option value="south-africa" data-class="flag-safrica">Multan</option>
                        <option value="south-africa" data-class="flag-safrica">Peshawar</option>
                        <option value="south-africa" data-class="flag-safrica">Quetta</option>
                        <option value="south-africa" data-class="flag-safrica">Rawalpindi</option>
                    </select>
                </div>
                <div class="col-12 col-md-auto bgColor">
                    <select class="cs-select cs-skin-elastic">
                        <option value="" disabled selected>&nbsp; - &nbsp; &nbsp; Select Traila</option>
                        <option value="france" data-class="flag-france">22 Wheeler Trailor</option>
                        <option value="france" data-class="flag-france">Hino Truck</option>
                        <option value="france" data-class="flag-france">Bedford Truck</option>
                        <option value="france" data-class="flag-france">Shehzore</option>
                        <option value="brazil" data-class="flag-brazil">Rickshaw</option>
                    </select>
                </div>
                <div class="col-12 col-md-auto bgColor">
                    <select class="cs-select cs-skin-elastic">
                        <option value="" disabled selected>Proceed</option>
                    </select>
                </div>
            </div>
        </div>
    </header>
    <nav id="topNav" class="navbar navbar-toggleable-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    ☰
            </button>
            <a class="navbar-brand page-scroll mr-3" href="#first">Bootstrap 4</a>
            <div class="collapse navbar-collapse" id="collapsingNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll pr-3" href="#one">Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll pr-3" href="#two">Flexbox</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll pr-3" href="#examples">Examples</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll pr-3" href="/themes.html">Themes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="one">
        <div class="container wow fadeInUp">
            <h2>Cards</h2>
            <p class="lead">
                What you notice first in
            </p>
            <div class="card-group">
                <!-- card -->
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Consise</h4>
                        <p class="card-text">Cards are a good way to display content composed of different types of objects. They’re well-suited
                            for presenting similar objects whose size or supported actions vary, like headings and photos
                            with captions.</p>
                    </div>
                </div>
                <!-- card -->
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Grouped</h4>
                        <p class="card-text">Use card groups to render equal height cards without gutters between the cards. Use <code>.card-deck</code>                            for cards that aren’t attached to each another.</p>
                    </div>
                </div>
                <!-- card -->
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Same Height</h4>
                        <p class="card-text">A frequent problem occurs when you have multiple items in a row with content of varying height. Thanks
                            to flexbox (and display:table) we now have equal height cards!</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/selectFx.js"></script>
    <script>

        (function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx(el);
				} );
			})();

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-40413119-2', 'auto');
        ga('send', 'pageview');

    </script
</body>

</html>