<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tralay</title>
    <meta name="description" content="We are witnessing the transportation business of Pakistan getting into a digital era and we are not over it already"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/cs-select.css" />
    <link rel="stylesheet" type="text/css" href="css/cs-skin-elastic.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700" rel="stylesheet">
</head>

<body class="bg-faded">
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1>straight outta Sakardu, right through Gawadar</h1>
                <p class="hidden-md-down"> We are witnessing the transportation business of Pakistan getting into a digital era and we are not over
                    it already </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-auto bgColor">
                    <select class="cs-select cs-skin-elastic">
                        <option value="" disabled selected>&nbsp; - &nbsp; &nbsp; Pickup Location</option>
                        <option value="france" data-class="flag-france">Abbotbad</option>
                        <option value="france" data-class="flag-france">Bahawalpur</option>
                        <option value="france" data-class="flag-france">Chakwal</option>
                        <option value="brazil" data-class="flag-brazil">Dera Ghazi Khan</option>
                        <option value="brazil" data-class="flag-brazil">Dera Ismail Khan</option>
                        <option value="argentina" data-class="flag-argentina">Islamabad</option>
                        <option value="argentina" data-class="flag-argentina">Jamshoro</option>
                        <option value="argentina" data-class="flag-argentina">Karachi</option>
                        <option value="south-africa" data-class="flag-safrica">Lahore</option>
                        <option value="south-africa" data-class="flag-safrica">Multan</option>
                        <option value="south-africa" data-class="flag-safrica">Peshawar</option>
                        <option value="south-africa" data-class="flag-safrica">Quetta</option>
                        <option value="south-africa" data-class="flag-safrica">Rawalpindi</option>
                    </select>
                </div>
                <div class="col-12 col-md-auto bgColor">
                    <select class="cs-select cs-skin-elastic" size="5">
                        <option value="" disabled selected>&nbsp; - &nbsp; &nbsp; Destination Point</option>
                        <option value="france" data-class="flag-france">Abbotbad</option>
                        <option value="france" data-class="flag-france">Bahawalpur</option>
                        <option value="france" data-class="flag-france">Chakwal</option>
                        <option value="brazil" data-class="flag-brazil">Dera Ghazi Khan</option>
                        <option value="brazil" data-class="flag-brazil">Dera Ismail Khan</option>
                        <option value="argentina" data-class="flag-argentina">Islamabad</option>
                        <option value="argentina" data-class="flag-argentina">Jamshoro</option>
                        <option value="argentina" data-class="flag-argentina">Karachi</option>
                        <option value="south-africa" data-class="flag-safrica">Lahore</option>
                        <option value="south-africa" data-class="flag-safrica">Multan</option>
                        <option value="south-africa" data-class="flag-safrica">Peshawar</option>
                        <option value="south-africa" data-class="flag-safrica">Quetta</option>
                        <option value="south-africa" data-class="flag-safrica">Rawalpindi</option>
                    </select>
                </div>
                <div class="col-12 col-md-auto bgColor">
                    <select class="cs-select cs-skin-elastic">
                        <option value="" disabled selected>&nbsp; - &nbsp; &nbsp; Select Traila</option>
                        <option value="france" data-class="flag-france">22 Wheeler Trailor</option>
                        <option value="france" data-class="flag-france">Hino Truck</option>
                        <option value="france" data-class="flag-france">Bedford Truck</option>
                        <option value="france" data-class="flag-france">Shehzore</option>
                        <option value="brazil" data-class="flag-brazil">Rickshaw</option>
                    </select>
                </div>
                <div class="col-12 col-md-auto bgColor">
                    <a href="#" class="form-btn"> Proceed </a>
                </div>
            </div>
        </div>
    </header>
    <nav id="topNav" class="navbar navbar-toggleable-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar,#navbar-btn">
                    ☰
            </button>
            <a class="navbar-brand page-scroll mr-3" href="#first">Bootstrap 4</a>
            <div class="collapse navbar-collapse" id="collapsingNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll pr-3" href="#one">Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll pr-3" href="#two">Flexbox</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll pr-3" href="#examples">Examples</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll pr-3" href="/themes.html">Themes</a>
                    </li>
                </ul>

                <div class="navbar-nav ">
                    <button type="button" class="btn btn-primary btn-lg btn-lg-sidd">Become a driver</button>
                </div>
            </div>
            {{!--
            <div class="my-2 my-lg-0">
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
            </div>--}}
        </div>
    </nav>
    <section id="examples">
        <div class="container text-center wow fadeInUp ">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-12 text-center mb-3">
                    <h1 class="mt-0 text-primary">Our Vision</h1>
                    <hr class="primary">
                    <p class="lead">Kick start your Bootstrap 4 project with any of these free templates &amp; examples that utilize various
                        parts of the framework. We will continually update these, and add new examples as Bootstrap 4 nears
                        a production-ready release.</p>
                </div>
            </div>
            <div class="container dimmer-truck">
                <div class="row align-items-end">
                    <div class="col-sm-4 col-md-auto align-self-end">
                        <img src="/img/dimmer2.gif" class="img-fluid dimmer-truck-img">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="two" class="bg-alt over-another">
        <div class="container people-rowoverlay">
            <div class="row">
                <div class="col-lg-6 align-self-end text-center">
                    <div class="card people-card">
                        <div class="card-block">
                            <h4 class="card-title">these are our people who keep us going, they are are our crown and we are proud of them </h4>
                            <button type="button" class="btn btn-primary btn-lg btn-lg-sidd">Be a part of us</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container wow fadeInUp bg-alt">
            <div class="row">
                <div class="col text-center lr-margin-zero">
                    <img src="/img/driver_1.jpg" class="img-fluid">
                </div>
                <div class="col text-center lr-margin-zero">
                    <img src="/img/driver_3.jpg" class="img-fluid">
                </div>
                <div class="col text-center lr-margin-zero">
                    <img src="/img/driver_4.jpg" class="img-fluid"> {{!--
                    <div class="feature">
                        <i class="icon-lg ion-social-css3-outline wow fadeIn" data-wow-delay=".1s"></i>
                        <h6 class="text-uppercase">It's Modern</h6>
                        <p class="text-muted m-b-0">Introduced in CSS3, flexbox won't work in older browsers like <a href="http://caniuse.com/#feat=flexbox">IE9</a>.</p>
                    </div>--}}
                </div>
                <div class="col text-center lr-margin-zero">
                    <img src="/img/driver_2.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container footer-contain">
            <div class="row">
                <div class="col-6 col-sm-3">
                    <h6 class="text-uppercase">More</h6>
                    <ul class="list-unstyled">
                        <li><a href="//theme.cards" title="Free themes">Theme.cards</a></li>
                        <li><a href="//www.bootply.com" title="Bootstrap Editor">Bootply</a></li>
                        <li><a href="//www.codeply.com" title="Frontend Editor Online">Codeply</a></li>
                        <li><a href="//www.wdstack.com" title="Best Developer Designer Resources">WDStack</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-3 column">
                    <h6 class="text-uppercase">About</h6>
                    <ul class="list-unstyled">
                        <li><a href="#" data-toggle="modal" data-target="#alertModal">Contact Us</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#alertModal">Delivery Information</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#alertModal">Privacy Policy</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#alertModal">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3 column">
                    <h6 class="text-uppercase">Stay Posted</h6>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-sm-3 text-xs-right">
                    <h6 class="text-uppercase">Follow</h6>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a rel="nofollow" href="" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
                        <li class="list-inline-item"><a rel="nofollow" href="" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a></li>
                    </ul>
                </div>
            </div>
            <br>
            <span class="pull-right text-muted small"><a href="http://themes.guide">Tralay</a> ©2017</span>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/selectFx.js"></script>
    <script>
        (function () {
            [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
                new SelectFx(el);
            });
        })();

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-40413119-2', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>