@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@media(min-width:34em) {  
    section {
        /*min-height: 600px;*/
        padding: 100px 0px 0px 0px;
    }
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Josefin Sans','Raleway',Arial,sans-serif;
    color: #000;
    -webkit-tap-highlight-color: #d1414b;
    top:0;
}

section {
    padding: 70px 0 0 0;
}

hr {
    max-width: 120px;
    border-width: 3px;
    opacity: 0.08;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr.light {
    border-color: #fff;
    opacity: 1;
}

hr.primary {
    border-color: #98252d;
    opacity: 1;
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #001A33;
    width: 100%;
    background-image: url('/img/header_bg.jpg');    
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0 0 0 1200px rgba(0,0,0,.6);
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 22% 15px;
    text-align: center;
    z-index: 2;
}

@media (min-width: 992px) and (max-width: 1199px) {
    header .header-content 
    {
        padding: 15% 15px;
    }
}

@media screen and (min-width: 1200px) {
    header .header-content 
    {
        padding: 15% 15px;
    }
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
    font-size: 280%;
}

@media screen and (max-width: 767px) {
    header .header-content .inner h1{font-size: 200%;}
    .navbar {background-color: #fff;}
    .navbar .navbar-nav > li>a {color: #000;}
    .nav-item a { color: #000;}
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

#first .row {
    padding-top: 3%;
}

.form-btn {
	display: inline-block;
	vertical-align: middle;
	position: relative;
    padding: 1em;
	text-align: left;
	background: #fff;
	z-index: 100;
	white-space: nowrap;
    font-size: 1.2em;
    font-weight: 700;
    color: #98252d;
	width: 100%;
	max-width: 500px;
	border: #d1414b solid 3px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media screen and (max-width: 767px) {
    .form-btn {border: #d1414b solid 1px;}
}


/*-------------------------------*/
/*           EXAMPLES           */
/*-----------------------------*/

#examples {
    background-image: url('/img/bg_MAP.jpg');    
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    #examples {
        background-position-x: right;
        background-position-y: top;
        background-size: 250%;
        box-shadow: inset 0 0 0 1200px rgba(255,255,255,0.7);
    }
}

.nav-item a {
    color: #fff;
}

div.dimmer-truck {
    padding-top: 3%;
}

.dimmer-truck-img {
    border-radius: 700px;
    box-shadow: 0 0 8px rgba(255, 255, 255, .8);
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, .8);
    -moz-box-shadow: 0 0 8px rgba(255, 255, 255, .8);
}

.navbar {
    border-color: rgba(35,35,35,.05);
    /*background-color: #fff;*/
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    box-shadow: inset 0 600px 600px 1200px rgba(255,255,255,.9);
}

.navbar-brand {
    color: #007FFF;
    padding: 1px;
    line-height: 1.90em;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
    float:none;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #98252d;
}

.navbar .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #001A33;
}
.navbar .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar .navbar-nav > li>a,
.navbar .navbar-nav>li>a:focus {
    font-size: 130%;
    color: #000;
}

.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus:hover {
    color: #d1414b;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.active:focus {
    color: #98252d !important;
    background-color: transparent;
}

 .btn-lg-sidd {
    background-color: #98252d;
    border-color: #d1414b;
 }

 .btn-lg-sidd:hover {
    background-color: #6f1b21;
    border-color: #98252d;
 }


.bgColor {
    /*background-color: #34f;*/
    /*border: 3px solid #333;*/
    padding-top: 3%;
}

/*********************************************/
        /*Our People*/
/*********************************************/

.bg-alt {
    background-color: #fff;
    width: 100%;
}

.lr-margin-zero {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #000;
}
.lr-margin-zero img {
    opacity: 0.6;
}

.over-another {
    position:relative;  
}

.people-rowoverlay{
  position: absolute;
  top: 50%;
  left:0;
  z-index:1;
  bottom:0;
  right:10%;
  height:90%;
}

.people-card {
    border-radius: .0rem;
    border: 0px solid #fff;
}

@media screen and (max-width: 767px) {
    .people-rowoverlay {
        bottom: 30%;
        position: relative;
    }

    .lr-margin-zero img {
        opacity: 1;
    }

    .card-block h4 {
        font-size: 18px;
    }
}


#footer {
    background-color: #98252d;
}

.footer-contain {
    padding-top: 5%;
}

.list-unstyled li a{
    color: #fff;
}

.list-inline li a {
    color: #fff;
    font-size: 250%;
}
h6 {
    color: #fff;
}